{% extends 'base.html' %} 
{% load static %} 
{% load socialaccount %}
{% block title %} 홈 화면 {% endblock %} 
{% block link %} {% static 'css/home.css' %} {% endblock %}
{% block content %}

<div class="header">
    <h1>[My Diary]</h1>
    <h3>소중한 하루를 기록 해보세요.</h3>
  </div>

<div class="list_wrap">
  <ul>
  {% for diary in diaries %}
    <div class="item">
      <a href="{% url 'detail' diary.id %}">
      <p><img src="{{ diary.image.url }}" alt="없음" ></p>
      <p><strong>{{diary.title}}</strong><br>
      {{diary.pub_date}}</p>
    </a>
    </div>
    {% endfor %}
  </ul>

  <div class="page">
    {% if diaries.has_previous %}
    <a href="?page={{diaries.previous_page_number}">prev</a>
  {% endif %}
  
  <span>{{diaries.number}}</span>
  <span>of</span>
  <span>{{diaries.paginator.num_pages}}</span>
  
  {% if diaries.has_next %}
  <a href="?page={{ diaries.next_page_number}}">next</a>
  {% endif %}
  </div>
</div>
{% endblock %}