{% extends 'base.html' %} 
{% load static %} 
{% block title %} 일기 작성 {% endblock %} 
{% block link %} {% static 'css/new.css' %} {% endblock %}
{% block content %}

<div class="header">
    <h1>일기 작성</h1>
</div>

<hr>

<div class="post">
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>제목 : <input name="title" type="text" placeholder="제목을 입력하세요"><br>
    <h4>날씨 : <input name="weather" type="text" placeholder="날씨"></h4><br>
    <h5 class="image">
        <input name="image" type="file" ></h5>
    <div><h4>내용 :
    <textarea name="body" cols="30" rows="5"></textarea></h4></div>
    <h4><button>작성</button></h4>
</form>
</div>
{% endblock %}